*{
    margin: 0;
    padding: 0;
}
:root{
    font-size: 18px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    color: burlywood;
}

a:active{
    color: initial;
}

a:visited{
    color: brown;
}
a:hover{
    color: brown;
}

nav{
    display: flex;
    justify-content: space-around;
}

nav span{
    font-size: 1rem;
}


main{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}


section.formToOrder{
    flex-basis: 35%;
}

section.OrdersToDisplay{
    flex-basis: 65%;
    margin: 10px;
}

div.order img, div.product img {
    width: 50px;
}

div.latestOrders, div.availableProducts{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

div.order{
    margin: 10px;
    flex-grow: 1;
}

div.product{
    cursor: pointer;
}

section.formToOrder{
    border: 1px solid black;

}

section.formToOrder form{
    display: flex;
    flex-direction: column;
}

section.formToOrder form * {
    width: 80%;
    margin: 10px auto 5px;
    padding: 5px;
}


div.alertOrders{
    color: white;
    position: absolute;
    width: 316px;
    height: 53px;
    top: 3rem;
    left: 33rem;
    background-color: rgba(255, 68, 0);
    text-align: center;
    line-height: 3rem;
    border-radius: 11px;
}
